html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Roboto Flex', sans-serif;
    background-color: white;
}

#root {
    height: 100vh;
}

h1 {
    padding: 1em;
    margin: 0;
    color: black;
    color: white !important;
}

p {
    margin: 0.5em;
    color: white !important;
}

.root {
    position: absolute;
    top: 0;
}

.icons {
    color: black;
    font-size: xx-large;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    color: white !important; 
    text-align: left;
    padding: 0em 1.5em 0em 1.5em;
}

.navigation {
    width: 100%;
    height: 100vh;
    background-color: #11111d;
}

.about {
    position: absolute;
    bottom: 2em;
    width: -webkit-fill-available;
    margin-left: 2em !important;
    margin-right: 2em !important;
    /*padding: 1em;*
    /*background-color: #1c1c27;*/
    border-radius: 0.5em;
}

.status {
    position: absolute;
    top: 5em;
    right: 6em;
    color: white;
    width: fit-content !important;
    display: flex;
    justify-content: center;
}

.locked-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    height: -webkit-fill-available;
}

.locked-modal {
    background-color: var(--background);
    background-color: rgba(0, 0, 0, 0.7);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 5em;
    text-align: center;
    border-radius: 1em;
    max-width: -webkit-fill-available;
}

.MuiButtonBase-root {
    color: white !important;
    text-transform:none !important;
}

.MuiButtonBase-root::first-letter {
    text-transform: uppercase !important;
}

.button {
    background-color: #1c1c27 !important;
    padding: 1em;
    width: 100% !important;
    justify-content: left !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.panel {
    color: black;
}

.main {
    height: calc(100vh - 0em);
    overflow: auto;
    padding: 2em;
}

.controller {
    padding: 0.1em;
    background-color: black;
    border-radius: 2em;
}

.movement-container {
    padding: 2em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.movement-box {
    height: fit-content;
    width: 15em;
    background-color: inherit; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.controll-button-container {
    padding: 0.5em;
}

.controll-button {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #11111d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scroll-container {
    height: 100%;
}

.table-cell-head {
    text-align: left;
    padding-left: 0 !important;
} 

.table-cell-body {
    text-align: center;
}

.stats {
    padding: 2em;
    height: calc(100% - 2em);
}
.statistics {
    border: 1px dashed white;
    color: white;
}

@media (max-width: 900px) {
    .button {
        display: flex;
        justify-content: center !important; 
        align-items: center;
    }
    .button-margin {
        margin-right: 1em !important;
    }
    .panel {
        padding: 1em 2em;
    }
    .panel-grid {
        justify-content: center !important;
    }
    .panel-stack {
        display: flex !important;
    }
    .main {
        height: calc(100vh - 8em);
        padding-top: 0;
    }
    .divider-mobile {
        display: block;
    }
    .statistics {
        height: calc(100vh - 36em);
    }
    .movement-box {
        width: 100%;
    }
    .stats {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 901px) {
    .button-margin {
        margin-bottom: 1em !important;
    }
    .panel {
        padding: 2em;
    }
    .panel-grid {
        justify-content: left !important;
    }
    .panel-stack {
        display: contents !important;
    }
    .main {
        height: calc(100vh - 0em);
        padding-top: 2em;
        padding-left: 0;
    }
    .divider-mobile {
        display: none;
    }
    .statistics {
        height: calc(100vh - 28em);
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .medium-hide {
        display: none;
    }
}

@media (max-width: 450px) {
    .statistics-panel {
        height: calc(100vh - 24em);
    }
}

@media (min-width: 451px) and (max-width: 900px) {
    .statistics-panel {
        height: calc(100vh - 20em);
    }
}

@media (min-width: 901px) {
    .statistics-panel {
        height: calc(100vh - 14em);
    }
}