html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Roboto Flex', sans-serif;
    background-color: white;
}

h1 {
    padding: 1em;
    margin: 0;
    color: black;
}

p {
    margin: 0.5em;
    color: white;
}

.root {
    position: absolute;
    top: 0;
}

.icons {
    color: black;
    font-size: xx-large;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    color: black; 
    text-align: left;
    padding: 0em 1.5em 0em 1.5em;
}

.navigation {
    width: 100%;
    background-color: black;
    color: white;
}

.panel {
    color: white;
}

.main {
    height: calc(100vh - 0em);
    overflow: auto;
    padding: 2em;
}

.controller {
    padding: 0.1em;
    background-color: black;
    border-radius: 2em;
}

.movement-box {
    height: 10em;
    width: 10em;
    border-radius: 5em;
    background-color: lightgrey; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movement-container {
    padding: 2em;
}

.movement-info {
    padding: 0em 2em;
}

.scroll-container {
    height: 100%;
}

.table-cell-head {
    text-align: left;
    padding-left: 0 !important;
} 

.table-cell-body {
    text-align: center;
}

@media (max-width: 900px) {
    .panel {
        padding: 1em 2em;
    }
    .panel-grid {
        justify-content: center !important;
    }
    .panel-stack {
        display: flex !important;
    }
    .main {
        height: calc(100vh - 8em);
        padding-top: 0;
    }
    .divider-mobile {
        display: block;
    }
    .statistics {
        height: calc(100vh - 32em);
    }
    .movement-info {
        display: none !important;
    }
}

@media (min-width: 901px) {
    .panel {
        padding: 2em;
    }
    .panel-grid {
        justify-content: left !important;
    }
    .panel-stack {
        display: contents !important;
    }
    .main {
        height: calc(100vh - 0em);
        padding-top: 2em;
        padding-left: 0;
    }
    .divider-mobile {
        display: none;
    }
    .statistics {
        height: calc(100vh - 26em);
    }
    .movement-info {
        display: flex !important;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .medium-hide {
        display: none;
    }
}
